:root {
	--main: #444;
    --white:#fff;
}
.container{
    margin:0 auto;
    width: 1200px;
}
@media only screen and (max-width: 601px){
    .container{width:992px}
}
@media only screen and (max-width: 993px){
    .container{width:600px}
}

.category{
    margin: 3rem auto;
    border-radius: 1rem;
    box-shadow: 25px 25px 41px #969696, -25px -25px 41px #ffffff;
}
.category .device{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 1rem;
}
.device img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.device .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.device .text h1{
    font-size: 12rem;
    font-weight: 900;
    color: var(--white);
}
.device .text p{
    color: #fff;
    font-size: 3rem;
    float: right;
}